<div class="legend">
  <span class="legend-item">
    <span class="legend-visual" style="background-color: #984ea3;"></span>
    <span class="legend-text">Residential</span>
  </span>

  <span class="legend-item">
    <span class="legend-visual" style="background-color: #f781bf;"></span>
    <span class="legend-text">Dense residential</span>
  </span>

  <span class="legend-item">
    <span class="legend-visual" style="background-color: #ff7f00;"></span>
    <span class="legend-text">Industrial</span>
  </span>

  <span class="legend-item">
    <span class="legend-visual" style="background-color: #377eb8;"></span>
    <span class="legend-text">Commercial</span>
  </span>

  <span class="legend-item">
    <span class="legend-visual" style="background-color: #4daf4a;"></span>
    <span class="legend-text">Park</span>
  </span>

  <span class="legend-item">
    <span class="legend-visual" style="background-color: #a65628;"></span>
    <span class="legend-text">Mixed</span>
  </span>

  <span class="legend-item">
    <span class="legend-visual" style="background-color: #ffff33;"></span>
    <span class="legend-text">Transportation</span>
  </span>

  <span class="legend-item">
    <span class="legend-visual" style="background-color: #888888;"></span>
    <span class="legend-text">Other</span>
  </span>

  <span class="legend-item">
    <span class="legend-visual" style="background-color: #AAAAAA;"></span>
    <span class="legend-text">Undeveloped</span>
  </span>
</div>
