@@include('./_base-top.ejs.html')

<!-- Header -->
<header class="project-header" role="banner">
  <h1><%= content.title %></h1>

  <p>The map below shows how land-use in the Twin Cities metro area has changed from 2010 to 2016 and colored according to the general category of land-use.</p>

  @@include('./_legend.ejs.html')
</header>

<!-- Main content here -->
<main id="main-content" class="content fullscreen fullscreen-minus-header fullscreen-minus-footer" role="main">
  <div id="map" class="fullscreen"></div>
</main>

<!-- Footer -->
<footer role="contentinfo">
</footer>

@@include('./_base-bottom.ejs.html')
