/**
 * Manually include here, sorry.
 */

.leaflet-sbs-divider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -2.5px;
  width: 5px;
  background-color: #FFFFFF;
  pointer-events: none;
  -webkit-touch-callout: none;
  z-index: 999;
}

.leaflet-sbs-thumb {
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  background-color: #FFFFFF;
  border: 1px soild #DDDDDD;
  margin-left: 2.5px;
  height: 4em;
  width: 4em;
  border-radius: 50%;
  z-index: 99;
  pointer-events: auto;
  -webkit-touch-callout: auto;
  cursor: ew-resize;
  background-image: url("assets/images/range-icon.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 3.5em 3.5em;
}
