/**
 * Project specific styling.
 */

body {
  min-height: 500px;
  height: auto;
  width: auto;
}

header.project-header {
  margin: 0;
  padding: 1em 1em 0em 1em;
  font-size: 0.85em;
  line-height: 1.15em;
  @extend .cf;

  .flush & {
    padding: 1em 0 0 0;
  }

  p {
    margin-bottom: 1em;
  }

  h1 {
    margin: 0 0 0.25em 0;
    padding: 0;
    line-height: 1.25em;
  }
}

#map {
  background-color: #DEDEDE;
}

.map-split-label {
  position: absolute;
  z-index: 999999;
  bottom: 1em;
  padding: 0.15em 0.85em;
  background-color: #FFFFFF;

  &.map-split-label-left {
    left: 1em;
  }

  &.map-split-label-right {
    right: 1em;
  }
}

.fullscreen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

footer {
  position: absolute;
  bottom: 0;
  font-size: 0.65em;
  line-height: 1.45em;
  padding: 0.5em 1em 1em 1em;
}

.cartodb-tooltip {

  .CDB-Tooltip {
    background-color: #FFFFFF;
    padding: 0.5em 1em;
  }
}

.legend {
  margin-bottom: 0.25em;

  .legend-item {
    display: inline-block;
    font-size: 0.85em;
    margin-right: 1em;
    margin-bottom: 0.25em;
  }

  .legend-visual {
    display: inline-block;
    vertical-align: middle;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    margin-right: 0.25em;
  }

  .legend-text {
    display: inline-block;
    vertical-align: middle;
    padding-top: 0.1em;
  }
}
